body
{
	margin: 0;
	font-family: Arial;
}
header
{
	background-color: gray;
	height: 283px;
	padding: 0;
}
nav
{
	float: right;
	margin-top: 15px;
}
nav input{
	border-radius: 4px 0px 0px 4px;
}
nav button{
	border-radius:0px 4px 4px 0px;
}
#menu_menu{
	margin:0;
	padding:0;
}
#menu_menu ul{
	margin:0;
}
#menu_menu li{
	list-style: none;
	float:left;
	position:relative;
}
#menu_menu ul li a{
	color:white;
	text-decoration: none;
	display:block;
	width:100px;
	height:30px;
	font-size:1.5em;
}
#menu_menu ul ul{
	position:absolute;
	display:none;
	top:50px;
	background-color: #ADD8E6;
}
#menu_menu ul li:hover ul {
	display:block;
}
#menu_menu #padding_menu {
	padding-left:0;
}
#menu_menu #padding_menu li {
	padding:1em;
	margin-top:1em;
}
#menu_menu #padding_menu #evenement{
	padding-top:0;
}
#menu_menu a:hover{
	color:black;
}

.fixe a:hover{
	color:black;
}

#panier{
	float:right;
	width:30px;
	height:30px;
	margin-top:12px;
	margin-right:15px;
}
.fixe img{
	padding-left:1em;
	height:56px;
	width: 58px;

}
.fixe .logo{
	float: left;
	padding-right:2em;
	padding-left:2em;
}
.barre
{
	padding: 16px;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	text-align: center;
	float: left;
	font-family: Arial;
	margin-right:1em;
	padding:auto;
	margin-top:0;
}
div.fixe {
	position:fixed;
	top:0;
	left:0;
	background-color: #ADD8E6; /*CHANGER COULEUR*/
	width:100%;

}
input
{
	font-size: 1em;
	border: none;
	padding: 4px;
	width: 190px;
	margin:auto;
}
button
{
	float: right;
	padding: 8px;
	background-color: black;
	margin-right: 10px;
	color: white;
	border:none;
	font-family: Arial;
	height:27px;
}
img
{
	height: auto;
	width: 100%;
	margin:0;
}
header
{
	background-image: url("https://www.vacances-ulvf.com/images/Header/Header-2019/Header-Ete-2019-Montagne.jpg");
	background-size: cover;
	height: 224px;
	width: 100%;
	margin: 0;
	margin-top:3.7em;
}

#photo {
	width: 500px;
	margin:auto;
	height:475px;
}
.loc{
	display:flex;
	justify-content: space-evenly;
	padding-top: 25px;
	width:90%;
	margin-bottom:20px
	margin-right:auto;


}
.deux{
	width:350px ;
	line-height: 100%;
	margin:auto;

}
#com{
	margin-left: 110px;
}
#envoyer{
	border-radius: 4px 4px 4px 4px;
	background-color:#ADD8E6;
}
textarea{
	padding:7px 12px 5px;
	margin-bottom:20px;
	margin-left: 110px;
	border:2px solid #707070;
	width: 1000px;
}
input[type="submit"] {
	font-weight:bold;
	padding:10px 12px 10px;
	display:inline-block;
	min-width: 0px;
	margin-left:810px;
}
#titre{
	padding-left: 50px;}

h1{
	color:#DC143C;
	text-align: center;
}
p#demo {
  		text-align: center;
  		font-size: 60px;
	}
	
h3{
	text-align: center;
}

#annonce{
	text-align: center;
	margin-top:0;
	border:2px solid black;
	width:50%;
	margin:auto;
	font-size:20px;
	padding:1em;
	border-radius: 4px 4px 4px 4px;
}
#annonce a{
	text-decoration: none;
}
.button{
	margin-left:250px;
	background-color:#ADD8E6;
	border-radius : 4px 4px 4px 4px;
}

/*FOOTER*/
footer {
	background-color: #303030;
	color:#7f7f7f;
	margin-top:0;

}
footer div {
	font-size: 18px;
	padding-top:4em;
	font-family: Montserrat;
	color:white;
}
footer .rubrique {
	padding-top:4em;
	padding-right:8em;
}
footer ul {
	list-style: none;
	margin-left:0;
	padding-left: 0;
}
footer li {
	font-size:17px;
	padding:1px;
	padding-bottom: 2px;
	color:#7f7f7f;
}
footer img{
	height:250px;
	width: 250px;
	padding:2em 5em 0em;
}
footer a {
	text-decoration: none;
	color:#7f7f7f;
	font-size: 17px;
}
footer a:hover {
	text-decoration: underline;
}

footer p{
	margin:auto;
	text-align:center;
	font-size: 15px;
	height:20px;
}
.foot{
	display:flex;
	padding-top:0;
}
